.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:20px 170px;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap:60px;
}

.connect{
background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
color: white;
padding: 12px 24px;
border: none;
border-radius: 50px;
font-size: 16px;
font-weight: bold;
cursor: pointer;
transition: transform 0.2s, box-shadow 0.2s;
}

.connect:hover {
transform: scale(1.05);
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.connect:active {
transform: scale(0.98);
}