.myWork{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:80px;
  margin:80px 140px;
}
.WorkTitle{
  position: relative;
} 
.WorkTitle h1{
  padding:0px 30px;
  font-size: 65px;
  font-weight: 500;
}
.WorkTitle img{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.workContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:80px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.card {
    max-width: 300px;
    border-radius: 1rem;
    background:#161513;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 3px solid #B923E1;
  }

  .card a {
    text-decoration: none
  }

  .content {
    padding: 1.1rem;
  }

  .image {
    object-fit: cover;
    width: 100%;
    height: 150px;
    border-radius: 0.9rem;
   
  }

  .title {
    color: whitesmoke;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
  }

  .desc {
    margin-top: 0.5rem;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .action {
    display: inline-flex;
    margin-top: 1rem;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    align-items: center;
    gap: 0.25rem;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    padding: 4px 8px;
    border-radius: 4px;
  }

  .action span {
    transition: .3s ease;
  }

  .action:hover span {
    transform: translateX(4px);
  }
  .card:hover{
    transform: scale(1.10);
    border-radius: 10px;
    transition: 0.3s;
  }
  .btn-conteiner {
    height: 60px;
    display: flex;
    justify-content: center;
    --color-text: #ffffff;
    --color-background: #B923E1;
    --color-outline: #ff830e;
    --color-shadow: #00000080;
  }

  .btn-content {
    display: flex;
    align-items: center;
    padding: 5px 30px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: var(--color-text);
    background: var(--color-background);
    transition: 1s;
    border-radius: 100px;
    box-shadow: 0 0 0.2em 0 var(--color-background);
  }

  .btn-content:hover, .btn-content:focus {
    transition: 0.5s;
    -webkit-animation: btn-content 1s;
    animation: btn-content 1s;
    outline: 0.1em solid transparent;
    outline-offset: 0.2em;
    box-shadow: 0 0 0.4em 0 var(--color-background);
  }

  .btn-content .icon-arrow {
    transition: 0.5s;
    margin-right: 0px;
    transform: scale(0.6);
  }

  .btn-content:hover .icon-arrow {
    transition: 0.5s;
    margin-right: 25px;
  }

  .icon-arrow {
    width: 6px;
    margin-left: 15px;
    position: relative;
    top: 6%;
  }

  /* SVG */
  #arrow-icon-one {
    transition: 0.4s;
    transform: translateX(-60%);
  }

  #arrow-icon-two {
    transition: 0.5s;
    transform: translateX(-30%);
  }

  .btn-content:hover #arrow-icon-three {
    animation: color_anim 1s infinite 0.2s;
  }

  .btn-content:hover #arrow-icon-one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
  }

  .btn-content:hover #arrow-icon-two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
  }

  /* SVG animations */
  @keyframes color_anim {
    0% {
      fill: white;
    }

    50% {
      fill: var(--color-background);
    }

    100% {
      fill: white;
    }
  }

  /* Button animations */
  @-webkit-keyframes btn-content {
    0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
    }
  }

  @keyframes btn-content {
    0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
    }
  }
  @media(max-width:768px){
    .myWork{
      gap:50px;
      margin:50px 70px;
      align-items: start;
    }
    .WorkTitle h1{
      padding:0;
      font-size: 50px;
      font-weight: 600;
    }
    .WorkTitle img{
      width:130px;
      margin-right: ;
    }
    .btn-conteiner{
      padding:20px 40px;
      font-size: 18px;
      margin:50px auto ;
      cursor: pointer;
    }
    .btn-title{
      font-size:1rem;
    }
  }